{% extends 'admin/base_admin.html.twig' %}

{% block title %}Modifier lieu | Fin Tokhroj{% endblock %}
{% block admin_page_title %}Modifier lieu{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ include('admin/lieu/_styles.html.twig') }}
{% endblock %}

{% block admin_content %}
    {% include 'admin/lieu/_flashes.html.twig' %}

    <div class="lieu-cover">
        <h1 class="lieu-cover__title">Modifier {{ lieu.nom }}</h1>
        <p class="lieu-cover__subtitle">Mettre à jour les informations du lieu.</p>
    </div>

    {% include 'admin/lieu/_form.html.twig' with { button_label: 'Enregistrer les modifications' } %}
{% endblock %}
